nav{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 5px;
}
ul{
     display: flex;
    list-style-type: none;
    gap: 20px;      /* spacing between items */
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
}
.active{
    background-color: red;
}